
<style>

    .maindiv{

        width:500px;
        height:300px;
        background-color:indianred;
        border:1px solid black;


        

    }
    .box1{
        margin-top: 50px;
        width: 100px;
        height: 100px;
        background-color:yellow;
        margin-left: 20px;
        float:left;
        

    }

    /* Absolute değeri ile , nesnenin yeri korunmaz, ancak nesne 3 boyutlu ortama çıkar */
    /* Relative değeri ile nesne 3 boyutlu ortama çıkar ve yeri korunur. */
    .box2 {
        margin-top: 50px;
        width: 100px;
        height: 100px;
        background-color: red;
        margin-left: 20px;
        float: left;
    
        left:100px;
        top:150px;
        
    }

    .box3 {
        margin-top: 50px;
        width: 100px;
        height: 100px;
        background-color:blue;
        margin-left: 20px;
        float:left;
        
    }


</style>
<div class="maindiv">

    <div class="box1"></div>
    <div class="box2"></div>
    <div class="box3"></div>


</div>